/*
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-row .my-col {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.background-section-purple {
    background-color: #9792E4;
}

section {
    padding: 30px 0;
}

.underline {
    text-decoration: underline;
}

.background-color-black {
    background-color: #333333;
}

/*
    HEADER
*/

header {
    background-color: #0084FD;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container:first-child {
    padding: 10px 8px;
}

.mobile-menu {
    padding: 4px 8px;
}

.desktop-menu {
    display: none;
}

.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    display: inline-block;
}

.desktop-menu ul li a:not(.a-button) {
    display: inline-block;
    padding: 4px 8px;
    color: white;
}

.a-button {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    padding: 10px 0;
    border-radius: 100px;
    background-color: white;
    color: black;
    text-align: center;
}

/*
    MAIN
*/

main .section {
    padding: 40px 0;
}

#intro {
    margin: 30px 0;
}

#intro .card {
    background-color: #B5DDFF;
    border-radius: 12px;
    padding: 10px;
}

.my-col-2-3 a {
    display: inline-block;
    width: 200px;
    padding: 10px 0;
    border-radius: 100px;
    background-color: #0084FD;
    color: white;
    text-align: center;
    letter-spacing: 5px;
}

.my-col-1-3 .card .fa-solid {
    font-size: 5cap;
}

.my-col-1-3 .card {
    text-align: center;
}

.my-col-1-3 .card > * {
    padding: 20px 0;
}

.my-col-1-3 .card > *:not(p) {
    color: #0084FD;
}

.my-row .my-col-1-3 .card  {
    height: 100%;
}

.my-row .first .card > * {
    color: white;
    padding: 30px 20px;
}

.my-row .last .card > * {
    padding: 20px 20px;
    text-align: center;
}

.my-row .last {
    background-color: white;
    border-radius: 50px;
    margin: 0 30px;
}

.my-row .last .card div > * {
    width: 50px;
    height: 50px;
    padding-top: 17px;
    border-radius: 50%;
    background-color: #9792E4;
    text-align: center;
}

.testimonial > div,
.testimonial h2,
.testimonial p {
    text-align: center;
    padding: 15px 0;
}

.testimonial h2 {
    color: #9792E4;
}

.my-col-1-2-tablet img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
}

.my-col-1-2-tablet {
    text-align: center;
    background-color: #9792E4;
    border-radius: 50px;
    color: white;
}

.my-col-1-2-tablet .right-tablet > * {
    padding: 20px 10px;
}

.my-col-1-2-tablet:first-child {
    padding: 20px 0;
}



.background-row-white {
    background-color: white;
    border-radius: 50px;
}

.white-button {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    padding: 10px 0;
    border-radius: 100px;
    background-color: white;
    color: #9792E4;
    text-align: center;
}

/*
    FOOTER
*/

.footer-top {
    text-align: center;
}

.footer-top .my-col > * {
    padding: 20px 0;
}

.footer-top .my-col > *:not(h1, .white-button){
    color: white;
}

.footer-top .my-col h1{
    font-size: 4.5cap;
    color: #FDC15F;
}

.footer-top .white-button {
    width: 200px;
}

.copyright > *{
    font-size: 1.15cap;
}

.copyright .fa-circle {
    font-size: .1cap;
}

.background-color-black .my-col > * {
    text-align: center;
    padding: 20px;
    color: white;
}

.background-color-black .my-col .underline {
    color: #9792E4;
}

/*
    RESPONSIVE
*/
/* TABLET */
@media screen and (min-width: 576px) {

    .my-row .my-col-1-3 {
        width: calc((100% / 3) - 20px);
    }
    
    .my-row .my-col-2-3 {
        width: calc(((100% / 3) * 2) - 20px);
    }

    .my-row .my-col-2-3-tablet .card > *:not(p) {
        width: 50%;
        padding: 10px 0;
    }

    .my-row .my-col-2-3-tablet .card .a-button-blue {
        width: 90%;
        font-size: smaller;
    }

    .my-row .my-col-1-2-tablet {
        display: flex;
        padding: 20px 10px;
    }

    .my-row .my-col-1-2-tablet .left-tablet{
        width: 30%;
    }

    .my-row .my-col-1-2-tablet .right-tablet{
        width: 70%;
    }

    .my-col-1-2-tablet .right-tablet > * {
        text-align: left;
        padding: 10px 10px;
    }

}

/* DESKTOP */
@media screen and (min-width: 992px) {
    
    .container {
        width: 992px;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: inline-block;
    }

    .my-row .my-col-1-2-screen {
        width: calc((100% / 2) - 150px);
        margin: auto;
    }

    .my-row .last .card > * {

    }

    .my-row .my-col-2-3-tablet {
        width: (100% / 3);
    }


    .my-row .my-col-1-2-tablet {
        display: flex;
        padding: 20px 10px;
    }

    .my-row .my-col-1-2-tablet .left-tablet{
        width: 30%;
    }

    .my-row .my-col-1-2-tablet .right-tablet{
        width: 70%;
    }

    .my-col-1-2-tablet .right-tablet > * {
        text-align: left;
        padding: 10px 10px;
    }
    
}